In [1]:
# Ignore useless warnings (see SciPy issue #5998)
import warnings
warnings.simplefilter(action='ignore')

# Data Manipulation and Visualisation
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Notebook Mod
from IPython.core.display import display, HTML
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
school_df=pd.read_excel('../Data_Project/Msia_Schools2019.xlsx',index_col=0,header=1)
# Remove telephone and email columns
school_df.drop(['NOTELEFON','NOFAX','EMAIL'],axis=1,inplace=True)
# Translate the column name to English
school_df.columns=['State','Education District','School Level','Type of School','School Code','School Name','Correspondence Address',
                   'Poscode','City','Urban/Rural','Gov/Gov Aided','Enrollment','N. of Teachers','PreSchool','Integration','X Cood','Y Cood']
school_df.head()

,State,Education District,School Level,Type of School,School Code,School Name,Correspondence Address,Poscode,City,Urban/Rural,Gov/Gov Aided,Enrollment,N. of Teachers,PreSchool,Integration,X Cood,Y Cood
BIL,,,,,,,,,,,,,,,,,
1,PERAK,PPD BATANG PADANG,Rendah,SK,ABA0001,SEKOLAH KEBANGSAAN TOH TANDEWA SAKTI,JALAN KELAB,35000,TAPAH,Bandar,KERAJAAN,447.0,41.0,ADA,ADA,101.255932,4.196633
2,PERAK,PPD BATANG PADANG,Rendah,SK,ABA0002,SEKOLAH KEBANGSAAN PENDITA ZA'BA,JALAN TAPAH ROAD,35400,TAPAH ROAD,Bandar,KERAJAAN,389.0,33.0,ADA,TIADA,101.200617,4.178276
3,PERAK,PPD BATANG PADANG,Rendah,SK,ABA0003,SEKOLAH KEBANGSAAN BANIR,BANIR,35400,TAPAH ROAD,Bandar,KERAJAAN,43.0,12.0,ADA,TIADA,101.181893,4.204361
4,PERAK,PPD BATANG PADANG,Rendah,SK,ABA0004,SEKOLAH KEBANGSAAN TEMOH,KAMPUNG TEMOH STESEN,35350,TEMOH,Bandar,KERAJAAN,111.0,18.0,ADA,TIADA,101.172819,4.235841
5,PERAK,PPD BATANG PADANG,Rendah,SK,ABA0005,SEKOLAH KEBANGSAAN CHENDERIANG,JALAN CHENDERIANG,35300,CHENDERIANG,Luar Bandar,KERAJAAN,179.0,19.0,ADA,TIADA,101.240556,4.267980

In [3]:
school_df.select_dtypes('object').apply(pd.Series.nunique)

State                        16
Education District          144
School Level                  2
Type of School               18
School Code               10211
School Name                9600
Correspondence Address     7293
Poscode                    1098
City                        603
Urban/Rural                   2
Gov/Gov Aided                 2
PreSchool                     2
Integration                   2
dtype: int64

In [4]:
# Number of missing values in each features/columns
school_df.isnull().sum()

State                      0
Education District         0
School Level               0
Type of School             0
School Code                0
School Name                0
Correspondence Address    19
Poscode                    2
City                       2
Urban/Rural                0
Gov/Gov Aided              0
Enrollment                 7
N. of Teachers             7
PreSchool                  0
Integration                0
X Cood                     5
Y Cood                     5
dtype: int64

In [5]:
cols=list(school_df.select_dtypes('object').columns)

# Some quick formating 
for col in cols:
    if (col=='School Code') | (col=='Type of School'):
        pass
    else:
        school_df[col]=school_df[col].str.title()

In [6]:
# Derive new feature i.e. student to teacher ratio
school_df["Student:Teacher Ratio"]=round(school_df['Enrollment']/school_df['N. of Teachers'],3)

In [10]:
school_df.max()

State                    Wilayah Persekutuan Putrajaya
Education District                          Ppw Sentul
School Level                                    Rendah
Type of School                                   SUKAN
School Code                                    YRA5101
School Name                       Victoria Institution
Urban/Rural                                Luar Bandar
Gov/Gov Aided                                 Kerajaan
Enrollment                                        3858
N. of Teachers                                     261
PreSchool                                        Tiada
Integration                                      Tiada
X Cood                                         119.256
Y Cood                                          7.3591
Student:Teacher Ratio                            27.34
dtype: object

In [8]:
# Export the data
school_df.to_csv("../Data_Project/Dataset/Msia_Schools2019_Clean.xlsx")

# One-Hot Encoding/Label Encoding Categorical Features

In [9]:
#pd.get_dummies(school_df,columns=['PreSchool','Integration'])